html{
    scroll-behavior: smooth;
}

.navbar{
    position: fixed;
    font-weight: 500;
}

.navbar.navbar-default{
    transition: background-color 1s ease 0s;
}

.navbar.navbar-default .navbar-brand{
    color: #455161;
    -webkit-transition: color 1s ease 0s;
    transition: color 1s ease 0s;
}

.navbar.navbar-default .navbar-nav li a{
    color: #455161;
    -webkit-transition: color 1s ease 0s;
    transition: color 1s ease 0s;
}

.navbar-dark{
    transition: background-color 1s ease 0s;
}

#hero-area{
    background-image: url('../../../Image/reparation.jpg');
    background-size: cover;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
}

#fac{
    position: relative;
    background-color: #2a2627;
    color: #fcfdfd;
    text-align: center;
}

#manfaat{
    position: relative;
    background-color: #f8f8f8;
    padding: 75px 0;
}

#introduce{
    position: relative;
    background-color: #ffffff;
    padding: 30px 0;
}

#testimoni{
    position: relative;
    background-color: #ebebeb;
    padding: 20px 0;
}

#testimoni2{
    position: relative;
    background-color: #ebebeb;
    padding: 20px 0;
}

#layanan-servis{
    position: relative;
    background-color: #f8f8f8;
    padding: 20px 0;
}

#produk-servis{
    position: relative;
    background-color: #2b3e4f;
    padding: 20px 0;
}

#garansi{
    position: relative;
    background-color: #f8f8f8;
    padding: 20px 0;
}

.row-perkenalkan{
    position: relative;
    padding: 20px 0;
}

#konsultasi{
    position: relative;
    padding: 30px 0;
    background-color: #283138;
}

#paket-servis-hemat{
    background-color: #fefefe;
    padding: 30px 0;
    position: relative;
}

#promo{
    background-color: #2a3c50;
    padding: 30px 0;
    position: relative; 
}

#footer{
    background-color: #2a2627;
    padding: 30px 0 30px 0;
    position: relative; 
}


#copyright{
    background-color: #eae8e9;
    padding: 10px 0;
    position: relative;
}

#copyright a:hover{
    color: #02a2c2;
    text-decoration: none;
}
.bg-grey-trans{
    background-color: rgba(242, 242, 242, 0.911);
    position: relative;
    padding: 100px 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bg-navy{
    background-color: #2a3c50;
    color: #ffffff;
}

.bg-abu{
    background-color: #555555;
    color: #ffffff;
}

.bg-light{
    background-color: #ffffff;
    color: #283138;
}

.bg-light-100{
    background-color: #e4e4e4;
}

.border-4-black{
    border: 4px solid rgb(0, 0, 0);
}

.border-4-navy{
    border: 4px solid #343a40;
}
.container.bg-hardware{
    background-image: url('../../../Image/icon/hardware.png'),url('../../../Image/icon/hardware.png');
    background-repeat: repeat-y, repeat-y;
    background-size: 50px,50px;
    background-position: left,right;
    padding: 30px 0;
}

.btn-outline-grey {
    color: #455161;
    border-color: #455161;
    border-radius: 1rem;
    border-width: 2px;
  }

  .btn-outline-grey:hover {
    color: #fff;
    background-color: #455161;
    border-color: #455161;
  }

  .btn-yellow{
    background-color: #fdde36;
    color: #283138;
    border-radius: 2rem;
    padding: 8px 25px;
    border-color: #fdde36;
    border-width: 2px;
  }

  .btn-yellow:hover{
    color: #ffffff;
    background-color: #283138;
    border-color: #fdde36;
    border-width: 2px;
  }

  .btn-yellow:focus{
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(253, 222, 54, 0.25);
  }

  .btn-arrow:focus{
    outline: 0;
    box-shadow: none;
  }

  .btn-cyan{
    background-color: #01b5b6;
    color: #2a2627;
    border-radius: 0.5rem;
    padding: 8px 25px;
    border-color: #01b5b6;
    border-width: 2px;
  }

  .btn-cyan:hover{
    background-color: #2a2627;
    color: #ffffff;
    border-color: #01b5b6;
  }
  .btn-cyan:focus{
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(1, 181, 182, 0.25);
  }

  .btn-cyan-line{
    background-color:none;
    color: #ffffff;
    border-radius: 0.5rem;
    padding: 8px 25px;
    border-color: #01b5b6;
    border-width: 2px;
  }
  .btn-cyan-line:hover{
    background-color:#01b5b6;
    color: #2a2627;
    border-color: #01b5b6;
  }
  .btn-cyan-line:focus{
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(1, 181, 182, 0.25);
  }

  .btn-subscribe{
    background-color:#cc0101;
    border-radius: 2px;
    color: #ffffff;
  }

  .btn-subscribe:hover{
      color: #dddddd;
  }

  .btn-subscribe:focus{
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(189, 31, 31, 0.438);
  }


  .li-kenapa{
      list-style-image: url('../../../Image/icon/rsz_check.png');
  }

  .li-jadi{
      list-style-image: url('../../../Image/icon/checklist_green.png');
  }

  .li-servis{
    list-style-image: url('../../../Image/icon/right_arrow.png');
  }

  

  .img-bg.card-img-top{
    height: 200px;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .img-bg{
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .img-badge{
    width: 75px;
    height: auto;
    position: absolute;
    display: block;
    margin: auto;
    top: -20px;
    left: -30px;
  }

  .img-footer{
    position: relative;
    display: block;
    top: -100px;
    width: 400px;
    height: auto;
  }


  .card.no-border{
      border-width: 0px;
      border-radius: 1rem;
  }
  
  .card-produk{
    max-width: 70%;
    border-radius: 2rem;
    padding: 0px 100px;
    border: none;
  }

  .card.barang{
      width: 18rem;
      border-radius: 10px;
      border: 0px;
      background-color: #fefefe;
  }

  .card.faq{
    border-radius: 1rem;
    background-color: #f8f8f8;
    box-shadow: 0 0 3px 4px rgba(0, 0, 0, 0.041);
    padding-top: 0px;
  }

  .card-header.faq{
      border: none;
      background-color: #f8f8f8;
      border-radius: 1rem;
  }

  .free-space-75{
      height: 75px;
      display: block;
  }

  .box-manfaat{
    position: relative;
    display: flex;
    width: 50%;
    border-radius: 15px;
    background-color: #2a2627;
    margin: auto;
    z-index: 1;
    top: 45px;
    padding: 30px 0;
  }

  .bdt-little{
      padding: 20px 0;
      border-top: 4px solid #02a2c2;
  }

  .bdb-grey{
      border-bottom: 2px solid #a5a8af;
  }

  

.modal-header {
    border-bottom: none;
}
  .modal-footer {
    border-top: none;
}

.close.light{
    color: #fff;
}

.close.light:hover{
    color: #ffffff;
}

.close.light:focus{
    outline: 0;
    box-shadow: 0 0 0 0.15rem rgba(255, 255, 255, 0.500);
}

.modal .form-control{
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #f8f8f8;
    background-color: #555;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.modal .form-control::placeholder{
    color: #a5a8af;
}

.modal .form-control:focus {
    color: #ffffff;
    background-color: #555;
    border-color: #ffffff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
}

.modal .custom-select{
    background-color: #555;
    color: #ffffff;
}


/* border */

.border-right-3{
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
}

/* text transform */

.txt-upper{
    text-transform: uppercase;
}
/* font size */
.font-size-30{
    font-size: 30px;
}
.font-size-20{
    font-size: 20px;
}

/* text link  */

a.txt-link-white{
    text-decoration: none;
    color: #ffffff;
}

a.txt-link-white:hover{
    color: #01b5b6;
}

a.card-link{
    text-decoration: none;
    color: #283138;
}

/* text color */

.txt-blue{
    color:#02a2c2;
}

.txt-grey{
    color: #455161;
}

.txt-yellow{
    color: #ffe715;
}

.txt-gold{
    color: #fcb937;
}

.txt-cyan{
    color: #01b5b6;
}

/* text size */

.txt-300{
    font-weight: 300 !important;
}
.txt-400{
    font-weight: 400 !important;
}
.txt-500{
    font-weight: 500 !important;
}
.txt-600{
    font-weight: 600 !important;
}
.txt-700{
    font-weight: 700 !important;
}
.txt-800{
    font-weight: 800 !important;
}
.txt-900{
    font-weight: 900 !important;
}

.txt-medium{
    font-size: 20px !important;
}

/* text align */

.txt-center{
    text-align: center;
    margin: auto;
}

.txt-right-center{
    text-align: right;
}

.t-25{
    top: 25%;
}

.t-20{
    top: 20%;
}
/* margin */

.ml-7{
    margin-left: 7rem!important;
}

.mr-7{
    margin-right: 7rem!important;
}

/* image  */

.img-100{
    width: 100px;
    height: auto;
}

@media(max-width: 1200px){
    .card.barang{
        width: auto;
    }
}

@media(max-width: 767px){
    .card-produk{
        max-width: 70%;
        border-radius: 2rem;
        padding: 10px 10px;
        border: none;
        text-align: center;
     }

     

     .txt-right-center{
         text-align: center;
     }

     .txt-sm-center{
         text-align: center;
     }

}